{% extends 'bases.html' %}
<!---->
{% block content %}
<div class="col-md-5 mb-2">
  <div class="card">
    {% load static %}
    <img
      src="{% static 'imgs/libro-python.jpg' %}"
      class="card-img-top"
      alt="libro" />

    <div class="card-body">
      <h5 class="card-title">Titulo: {{ libro.titulo }}</h5>
      <p class="card-text">Autor: {{ libro.autor }}</p>
      <p class="card-text">Precio: {{ libro.precio }}</p>
      <a href="{% url 'list_libros' %}" class="btn btn-primary">volver</a>
    </div>
  </div>
</div>
{% endblock %}
